<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8" />

<title>MongoDB Viewer</title>

<link rel='stylesheet' type='text/css' href='/css/bootstrap.min.css'>
<script src="/js/jquery-1.9.1.min.js"></script

</head>

<body>

<h1><%= @database_name %></h1>
<h2><%= @collection_name %></h2>

<table class='list'>
<tr>
	<% @keys.each do |key| %>
		<th><%= key %></th>
	<% end %>
</tr>
<% @rows.each do |row| %>
	<tr>
		<% row.each do |key, val| %>
			<td><%= val %></td>
		<% end %>
	</tr>
<% end %>
</table>



<ul>
<li><a href='<%= @base_uri %>/<%= @page-1 %>'>←</a></li>
<li><%= @page %></li>
<li><a href='<%= @base_uri %>/<%= @page+1 %>'>→</a></li>
</ul>



<form action='/values/<%= @database_name %>/<%= @collection_name %>'>

<dl>
  <dt>
    プリセット
  </dt>
  <dd>
    <select id='preset'>
      <option value=''>
      <% @filter_presets.each do |filter| %>
        <option data-name='<%= filter[:key] %>' data-value='<%= filter[:val] %>'><%= filter[:comment] %>
      <% end %>
    </select>
  </dd>
  <dt>
    列名
  </dt>
  <dd>
    <input type='text' id='f_key' name='f_key' value='<%= @f_key %>'>
  </dd>
  <dt>
    値
  </dt>
  <dd>
    <input type='text' id='f_val' name='f_val' value='<%= @f_val %>'>
  </dd>
</dl>

<input type='submit' value='検索'>

</form>
<hr>

<script>
$('#preset').change(function(){
  var sel = $(this).find("option:selected");
  $('input#f_key').val(sel.attr('data-name'));
  $('input#f_val').val(sel.attr('data-value'));
})
</script>


<div><a href='/collections/<%= @database_name %>'>collection一覧に戻る</a></div>
<div><a href='/'>db一覧に戻る</a></div>


</body>
</html>